! control file
tmax = 100
itermax = 100000
cfl = 1.0
gmresrestart = 1
gmresiter = 50
ndim = 2
nnod = 4
neqn = 4
nbnod = 2
nface = 4
adap = 0
nodes = 341
elements = 300
iter = 0
binary = 1